$desctop: 1520px;
$desctop1200: 1200px;
$desctop1180: 1160px;

$tablet992: 992px;
$tablet930: 930px;

$tablet768: 768px;
$tablet740: 740px;

$tablet650: 650px;
$tablet630: 630px;

$tablet580: 580px;
$tablet560: 560px;

$fontStyle: normal;

@mixin font($size, $weight, $family: Manrope) {
  font-size: #{$size + px};
  font-weight: $weight;
  font-family: $family;
}

:root {
  --colorYellow: #eef2d1;
  --colorBlack: rgb(30, 30, 30);
  --colorOrange: orange;
  --colorWhite: white;
}
