@import '../../sass/abstract/variables';
@import '../abstract/mixins';
.container2 {
  max-width: $useful-width;
  border-top: 1px solid rgb(0, 0, 0);
}
.main2 {
  margin: 70px;
  @include flex-layout($align: center, $justify: space-between);
}
.description2 {
  width: 485px;
  text-align: center;
  @include flex-layout($direction: column);
  gap: 20px;
  &__text2 {
    color: var(--main-color);
    @include font-layout($font20, $weight400, $height130, $family-Manrope);
  }
  &__tag2 {
    color: var(--main-color);
    @include font-layout($font40, $weight600, $height130, $family-Manrope);
  }
}
.forImage2 {
  width: 750px;
  height: 532px;
}
.forImage2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
@include breakpoint(medium) {
  .main2 {
    margin: 10px;
  }
  .description2 {
    &__text2 {
      @include font-layout($font16, $weight400, $height130, $family-Manrope);
    }
    &__tag2 {
      @include font-layout($font40, $weight500, $height130, $family-Manrope);
    }
  }
  .description2 {
    height: 100%;
    text-align: center;
  }
}
@include breakpoint(smaller) {
  .main2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .forImage2 {
    width: 98%;
    height: 400px;
  }
  .description2 {
    width: 80%;
    border: 1px solid black;
    &__tag2 {
      @include font-layout($font30, $weight500, $height130, $family-Manrope);
    }
  }
}
@include breakpoint(large) {
  .description2 {
    height: 100%;
    &__tag2 {
      @include font-layout($font45, $weight500, $height130, $family-Manrope);
    }
  }
}
